@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee-mobile {
  animation: marquee 20s linear infinite;
}

.animate-marquee-desktop {
  animation: marquee 40s linear infinite;
}

.hover\:pause-marquee:hover {
  animation-play-state: paused;
}

.mask-fade-horizontal {
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.card-glow-linear {
  position: relative;
  z-index: 0;
}

.card-glow-linear::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 2px;
  background: linear-gradient(90deg, transparent, rgba(255,0,0,0.6), transparent);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: glow-move 4s linear infinite;
  z-index: -1;
  mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
  -webkit-mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

/* Delays intercalados */
.card-glow-linear:nth-child(1)::before { animation-delay: 0s; }
.card-glow-linear:nth-child(2)::before { animation-delay: 0.2s; }
.card-glow-linear:nth-child(3)::before { animation-delay: 0.4s; }
.card-glow-linear:nth-child(4)::before { animation-delay: 0.6s; }
.card-glow-linear:nth-child(5)::before { animation-delay: 0.8s; }
.card-glow-linear:nth-child(6)::before { animation-delay: 1s; }
.card-glow-linear:nth-child(7)::before { animation-delay: 1.2s; }
.card-glow-linear:nth-child(8)::before { animation-delay: 1.4s; }
.card-glow-linear:nth-child(9)::before { animation-delay: 1.6s; }
.card-glow-linear:nth-child(10)::before { animation-delay: 1.8s; }

@keyframes glow-move {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

@keyframes pulse-slow {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 0.4; }
}

.animate-pulse-slow {
  animation: pulse-slow 6s ease-in-out infinite;
}

/* En tu archivo global de estilos */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 0.25s ease-out forwards;
}
