@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee-mobile {
  animation: marquee 20s linear infinite;
}

.animate-marquee-desktop {
  animation: marquee 40s linear infinite;
}

.hover\:pause-marquee:hover {
  animation-play-state: paused;
}
